{% set active_page = "pending_overtime" %}
{% extends "HHRD/header.html" %}
{% block index %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Overtime Forms</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    	<th>FORM ID</th>
                    	<th>Date</th>
						<th>Applicant Name</th>
                    	<th>Overtime</th>
                    	<th>Status</th>
                    	<th></th>
                    </tr>
                </thead>
                <tbody>
                	{% for i in data %}
                	<tr>
                		<td>{{i[0]}}</td>
                		<td>{{i[4]}}</td>
						<td>{{i[2]}}</td>
                		<td>{{i[5]}}</td>
                		
                			{% if i[16] != 'APPROVED' %}
                				<td class="text-danger">PENDING FOR {{i[16]}}</td>
                			{% else %}
                				<td class="text-success">{{i[16]}}</td>
                			{% endif %}
                		<td>
                			<a href="/hhrd_view_overtime_authorization/{{i[0]}}" class="btn btn-info"><i class="fas fa-eye"></i>  View</a>
                		</td>
                	</tr>
                	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}