{% set active_page = "report_remaining_leave" %}
{% extends "header.html" %}
{% block index %}

<form action="/filter_report_remaining_leave" method="POST">
	<div class="form-row">
		<div class="col">
			<select id ="year" name="year" class="form-control"></select>
		</div>
		<div class="col">
			<select name="department" class="form-control" >
				<option value="" disabled selected hidden>Select department / office</option>
				{% for i in department %}
				<option value="{{i[1]}}">{{i[1]}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary btn-sm mb-0"> Filter</button>
		</div>
		<div class="col"></div>
	</div>
</form>

<div class="card shadow mb-4">
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">List of Remaining Leaves Per Employee</h6>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Department</th>
						<th>Name</th>
						<th>Service Incentive Leave</th>
						<th>Maternity Leave</th>
						<th>Paternity Leave</th>
						<th>Parental Leave</th>
						<th>Sick Leave</th>
					</tr>
				</thead>
				<tbody>
					{% for i in remaining_leave %}
					<tr>
						<td>{{i[2]}}</td>
						<td>{{i[0]}} {{i[1]}}</td>
						<td>{{i[3]}}</td>
						<td>{{i[4]}}</td>
						<td>{{i[5]}}</td>
						<td>{{i[6]}}</td>
						<td>{{i[7]}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery-3.5.1.min.js')}}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var title = `
                <table width="100%" border=0>
                    <thead>
                        <tr>
                            <td width="20%" align="right"><img src="static/img/smcc-logo.png" width="50px" height="50px"/></td>
                            <td width="60%" align="center">
                                <font face="Calibri" size="6" ><strong>Saint Michael College of Caraga</strong> </font><br />
                                <font face="Arial" size="3" >Brgy. 4, Nasipit, Agusan del Norte, Caraga Region</font><br>
                                <font face="Arial" size="3" >Tel. Nos. (085) 343-3251; (085) 283-3113</font> </td>
                            <td width="20%"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                        <tr><td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                        <tr>
                            <td colspan="4" align="center">
                                <h4 id="month_year_header" style="font:bold"></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center><h3>List of Remaining Leave - {{ filter_type }}</h3></center>
            `;

		$('#dataTable').DataTable({
			dom: 'Bfrtip',
			buttons: [
				{
					extend: 'print',
					title: '',
					messageTop: title
				}
			]
		} );
		
		let year_start = 2021;
		let year_end = (new Date).getFullYear(); // current year
		let option = '';

		for (let i = year_start; i <= year_end; i++) {
			let selected = (i === year_end ? ' selected' : '');
			option += '<option value="' + i + '"' + selected + '>' + i + '</option>';
		}
		document.getElementById("year").innerHTML = option;

	});
</script>
{% endblock %}
